header img {
    width: 1400px;px;
    height: 210px;
}
body{
    font-family: cursive;
    background-color:rgb(35, 201, 173);
    color: rgb(139, 23, 23);
    text-align:center;
}
.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 40px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 100px;
}